
body {
	margin: 0px;
	padding: 0px;
}
.logo {
	font-size:19px;
    font-weight: bold;
    color: #FFFFFF;
    float: left;
    
    text-align: center;
    display: inline-block;
    width: 44%;
    margin-top: 23px;
}

.logo_img {
	vertical-align: middle;
	width: 100%;
	margin: auto;
	margin-top: 17px;

}
#logo_image {
	width:8%;
	margin: auto;
}
.header_nav {
	background-color: #ADD8E6;
	width: 100% !important;
	min-height: 100px !important;
	margin: auto !important;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	display: block;
	float: left;
	height: auto;
}

.container {
	width: 100% !important;
	margin: auto ;
	height: auto ;
	float: left;
}
.menu{
	float:right;
	margin-top: 21px;
	margin-right: 10px;

}
.menu li{

	float: left;
	font-size: 15px;
	list-style: none;
	color: #008000;
	border-right: 1px solid #ffffff;
	padding: 2px 10px 2px 5px;
	
}
.menu a{
	color: #FFFFFF;
}
.login {
	width: 28%;
	margin: auto;


	
}
.login h1{
	background-color: #add8e6;
	color:  	#FFFFFF;
	width: 100%;
	margin: auto;
	height: auto;
	font-size: 30px;
	float: left;
}
.login form{
	padding: 0px !important;
	background-color: #f3f3f3;
	margin-top: 60px;
	width: 100%;
	height: 41%;
}
.login_sub label{
	
	float: left;
	padding-right: 14px;
}
.login_sub {
	width: 100%;
	margin: auto;
	float: left;
	height: auto;
	padding-left: 16px;
	 padding-top: 21px;
}
.login_sub input[type="text"],.login_sub  input[type="password"]{
	width: 51%;
	margin: auto;
	float: left;
	height: auto;

}
.signin_button{
	color: #ff0000;

}


.signin_button input[type="submit"]{
	
	margin: auto;
	height: auto;
	margin-top: 13px;
	margin-left: 122px;
	/*float: right;*/
	width: 32%;
}

.add_department label{
	width: 30% !important; 
	margin: auto !important;
	float: left;
	
}
.add_department form{
	width: 30%;
	margin-top: 50px;
	padding: 10px;
}

.alert-info h4 {
  color: #3a87ae;
}
/*.content .login{
	
	width: 20%;
	margin-top: 50px;
	margin: auto;
}
*/
.main_content{
	background-color: #f3f3f3;
	padding-top: 1px;
	padding-bottom: 13px;
}
 .add_department{
 	width:35%;
	margin: auto;
	text-align: center;
	background-color: #f3f3f3;
 }
 a:hover , a:focus {
 	text-decoration: none !important;
 }
.content {
	float: left;
	width: 100%;
	margin: auto;
	min-height: 540px;
	padding-bottom: 30px;
	height: 100% !important;
}
.add_department form{
	width: 100%;
	margin-top: 30px;
	padding: 10px;
}

.add_user {
	width:30%;
	margin: auto;
	padding-top: 30px;
	background-color: #f3f3f3;
	padding-bottom: 21px;
	 margin-top: 37px;
}
.user_fields{

	width: 100%;
	margin: auto;
}
.user_fields label{

	width: 40%;
	margin: auto;
	float: left;
}
.user_fields input[type="text"],.user_fields input[type="password"]{
	
	width: 53%;
	margin: auto;
	float: left;
	margin-bottom: 12px;
	height: auto;

}

.user {
	width:34%;
	margin: auto;
	text-align: center;
	background-color: #f3f3f3;
	padding-bottom: 15px;
}
.action {
	width:100%;
	height: auto;
	margin: auto;
	text-align: center;
	background-color: #f3f3f3;
	padding-bottom: 16px;
}

.errorlist li{
	color: red;
	list-style: none;
}
.red_text {
	color: #ff0000;
}
.errorlist {
	color: red;
	list-style: none;
	float: left;
}
.edit_user{
	width: 30%;
	margin: auto;
	background-color: #f3f3f3;
	padding-top: 21px;
}
.edit_user label{
	width: 37%;
	margin: auto;
	float: left;
	padding-top: 7px;
}
.edit_user input[type="text"]{
	
	width: 53%;
	margin: auto;
	height: auto;

}
.edit_user_button{
	background-color: #f3f3f3;
	width: 30%;
	margin: auto;
	padding-bottom: 11px; 
	padding-top: 20px;
}
.department{
	width:34%;
	margin: auto;
	text-align: center;
	background-color: #f3f3f3;
	padding-bottom: 15px;
}

.add_department{
	height: 30%;
}
.add_department input[type="text"],select{
	float: left;
	height: auto;

}
.add_department_button input[type="submit"]{
	float: left;
	height: auto;
	width:23%;
	margin-left: 154px;
}
.edit_department{

	width: 50%;
	margin: auto;
	height: 30%;
	background-color: #f3f3f3;
}
.edit_department input[type="text"]{
	float: left;
	height: auto;
	width: 34%;
	margin: auto;
	padding-top: 4px; 
	border-top-width: 0px; 
	margin-top: 14px;

}
.edit_department label{
	width: 52%;
	margin: auto;
	float: left;
	padding-bottom: 8px; 
	border-bottom-width: 17px; 
	margin-bottom: 1px; 
	padding-top: 16px
	
}
.edit_department select{
	float: left;
	height: auto;
	width: 34%;
	margin: auto;
	margin-top: 11px;

}
.edit_dep_button {
	float: left;
	padding-top: 14px;
}
.add_plan, .edit_plan {
	width: 60%;
	margin: auto;
	height: 100%;
	background-color: #f3f3f3;

}
.add_plan label, .edit_plan label {
	float: left;
	width: 30%;
}
.add_plan textarea, .edit_plan textarea {
	float: left;
	height: 25%;
	width: 60%;
}

.add_plan input, .edit_plan input{
	float: left;
	height: 6% !important;
	width: 60%;
}
.add_plan input[type="submit"], .edit_plan input[type="submit"] {
	display: block;
	float: right;
	clear: both;
	margin-right: 10%;
}

.add_plan select, .edit_plan select {
	float: left;
	width: 60%;
}
.add_plan form, .edit_plan form {
	padding: 14px;
    width: 100%;
}

.department p{
	color: #ff0000;
}
.user p{
	color: #ff0000;
}
.action p{
	color: #ff0000;
}

.red {
	background-color: #ff0000 !important;
}
.green {
	background-color: #7fff00 !important;
}
.orange {
	background-color: #ff8c00 !important;
}
.plan_button  {
/* float: right;*/
 margin: auto;
 /*display: block;
 clear: both;*/
 width: 14%;
}
.th2, .th3,  .th8, .th7{
	width: 17% !important;
	float: left;
	height: 100%;
	border-bottom: 1px solid #F2F2F2;
}
.th1, .th4, .th5, .th6, .th9, .th10{
	width:5% !important;
	float: left;
	height: 100%;
	border-bottom: 1px solid #F2F2F2;

}

.table_container {
	width: 100%;
}
.table_container .table_header, .table_container .table_row{
	width: 100%;
}
.table_container .table_header{
	height: 50px;
	border-bottom: 1px solid #F2F2F2;
}
.table_container .table_row{
	height: 100px;
	border-bottom: 1px solid #F2F2F2;
}
.table_header {
	font-weight: bold;
}