.user table{
	width:100%;
	margin: auto;
}
.user td
{
	padding:15px;
	border:1px ;
	border-collapse:collapse;
	
	margin: auto;
}
.user th
{
	padding-top:0px;
	padding-bottom:0px;
	
	height: 60px;
}
.logo {
	font-size:19px;
	padding:8px 0 8px 0;
    font-weight: bold;
    color: #FFFFFF;
    float: left;
    margin-top: 63px;
    text-align: center;
    display: inline-block;

}
.header {
	background-color: #ADD8E6;
	width: 100% !important;
	min-height: 100px !important;
	margin: auto !important;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	display: block;
	float: left;
	height: auto;
}

.container {
	width: 100% !important;
	margin: auto ;
	height: auto ;
	float: left;
}
.menu{
	float:right;
	margin-top: 40px;
	margin-right: 10px;

}
.menu li{

	float: left;
	font-size: 15px;
	list-style: none;
	color: #008000;
	border-right: 1px solid #ffffff;
	padding: 2px 10px 2px 5px;
	
}
.menu a{
	color: #FFFFFF;
}
.login {
	width: 28%;
	margin: auto;
	display: inline-block;
	

	
}
.login h1{
	background-color: #add8e6;
	color:  	#FFFFFF;
	width: 100%;
	margin: auto;
	height: auto;
	font-size: 30px;
	float: left;
}
.login form{
	padding: 0px !important;
	background-color: #f3f3f3;
	margin-top: 60px;
	height: auto;
}
.login_sub label{
	
	float: left;
	padding-right: 14px;
}
.login_sub {
	width: 100%;
	margin: auto;
	float: left;
	height: auto;
	padding-left: 16px;
	 padding-top: 21px;
}
.login_sub input[type="text"]{
	width: 51%;
	margin: auto;
	float: left;
	height: auto;

}

}
.login_sub  input[type="password"]{
	width: 51%;
	margin: auto;
	float: left;
	height: auto;

	
}
.signin_button{
	
	margin: auto;
	padding-bottom: 13px
}

.add_department label{
	width: 30% !important; 
	margin: auto !important;
	float: left;
	
}
.add_department form{
	width: 30%;
	margin-top: 50px;
	padding: 10px;
}
body {
	text-align: center;
}
.alert-info h4 {
  color: #3a87ae;
}
.content .login{
	
	width: 20%;
	margin-top: 50px;
	margin: auto;
}

.main_content{
	background-color: #f3f3f3;
	padding-top: 1px;
	padding-bottom: 13px;
}
 .add_department{
 	width:35%;
	margin: auto;
	text-align: center;
	background-color: #f3f3f3;
 }
 a:hover , a:focus {
 	text-decoration: none !important;
 }
.content {
	float: left;
	width: 100%;
	margin: auto;
	min-height: 540px;
	padding-bottom: 30px;
	height: 100% !important;
}
.add_department form{
	width: 100%;
	margin-top: 30px;
	padding: 10px;
}

.add_user {
	width:30%;
	margin: auto;
	padding-top: 30px;
	background-color: #f3f3f3;
	padding-bottom: 21px;
	 margin-top: 37px;
}
.user_fields{

	width: 100%;
	margin: auto;
}
.user_fields label{

	width: 40%;
	margin: auto;
	float: left;
}
.user_fields input[type="text"], input[type="password"]{
	
	width: 53%;
	margin: auto;
	float: left;
	margin-bottom: 12px;

}

.user {
	width:34%;
	margin: auto;
	text-align: center;
	background-color: #f3f3f3;
	padding-bottom: 15px;
}
.action {
	width:93%;
	height: auto;
	margin: auto;
	text-align: center;
	background-color: #f3f3f3;
	padding-bottom: 16px;
}
.action table{
	width:100%;
	height: auto;
	margin: auto;
}
.action td
{
	padding:38px;
	
	width: 100%;
	
}
.action th
{
	width: 100%;
	height: 70;
	margin: auto;
	padding-left: 16px;
}

.errorlist li{
	color: red;
	list-style: none;
}
.edit_user{
	width: 30%;
	margin: auto;
	background-color: #f3f3f3;
	padding-top: 21px;
}
.edit_user label{
	width: 37%;
	margin: auto;
	float: left;
	padding-top: 7px;
}
.edit_user input[type="text"]{
	
	width: 53%;
	margin: auto;
	height: auto;

}
.edit_user_button{
	background-color: #f3f3f3;
	width: 30%;
	margin: auto;
	padding-bottom: 11px; 
	padding-top: 20px;
}
.department{
	width:34%;
	margin: auto;
	text-align: center;
	background-color: #f3f3f3;
	padding-bottom: 15px;
}
.department table{
	width:100%;
	margin: auto;
}
.department td
{	padding:15px;
	border:1px ;
	border-collapse:collapse;
	
	margin: auto;
}
.department th
{
	padding-top:0px;
	padding-bottom:0px;
	
	height: 60px;
}
.add_department{
	height: 30%;
}
.add_department input[type="text"],select{
	float: left;
	height: auto;

}
.add_department_button input[type="submit"]{
	float: left;
	height: auto;
}
.edit_department{

	width: 50%;
	margin: auto;
	height: 20%;
	background-color: #f3f3f3;
}
.edit_department input[type="text"]{
	float: left;
	height: auto;
	width: 34%;
	margin: auto;

}
.edit_department label{
	width: 35%;
	margin: auto;
	float: left;
	
}
.edit_department select{
	float: left;
	height: auto;
	width: 34%;
	margin: auto;

}
.edit_dep_button {
	float: left;
}
.add_plan {
	width: 36%;
	margin: auto;
	height: 90%;
	background-color: #f3f3f3;

}
.add_plan label {
	float: left;
	margin-right: 14px;
}
.add_plan textarea {
	float: left;
	height: 10%;
}

.add_plan input {
	float: left;
	height: auto;
}
.add_plan select {
	float: left;
}
.add_plan form {
	padding: 14px;
    width: 38%;
}

.edit_plan {
	width: 36%;
	margin: auto;
	height: 90%;
	background-color: #f3f3f3;
}
.edit_plan label {
	float: left;
	margin-right: 14px;
}
.edit_plan textarea {
	float: left;
	height: 10%;
}

.edit_plan input {
	float: left;
}
.edit_plan select {
	float: left;
}
.edit_plan form {
	padding: 14px;
    width: 38%;
}

.department p{
	color: red;
}
.user p{
	color: red;
}
.action p{
	color: red;
}

.red {
	background-color: #ff0000 !important;
	width: 20% !important;
}
.green {
	background-color: #7fff00 !important;
	width: 20% !important;
}
.orange {
	background-color: #ff8c00 !important;
	width: 20% !important;
}