{% extends 'base.html' %}
{% block content %}
	<body>
        <div class="alert alert-info" align="Center"><h4>Add User</h4></div>
		<form method="post" action="{% url 'add_user' %}">{% csrf_token %}
			<div class="add_user">
                <div class="user_fields">
                    <label for="username">Username:</label>
                    <input type="text"  name="username" id="username"  />
                </div>
                <div class="red_text">
                {% if message %}
                    {{message}}
                {% endif %}
                </div>
                <div class="user_fields">
                    <label for="password">Password :</label>
                    <input id="password" name="password" required="required" type="password"/>
                </div>
                <div class="user_fields">
                    <label for="firstname">First Name:</label>
                    <input type="text" name="firstname" id="firstname" />
                </div>
                <div class="user_fields">
                    <label for="lastname">Last Name:</label>
                    <input type="text" name="lastname" id="lastname" />
                </div>
                <input type='submit' value='Submit'/>
            </div>
		</form>
	</body>
{% endblock content %}	