{% extends 'base.html' %}
{% block content %}
<div class="alert alert-info" align="Center"><h4>Add Department</h4></div>

<div class="add_department">
    <form method="post" action="{% url 'add_department' %}">{% csrf_token %}
    	<label for="name">Department Name:</label>
        <input id="name" type="text" name="name" value="{{name.0}}"/>
        <label>Department Head:</label>
        <select name="user_id">
        	<option value="None">None</option>
        	{% for user in users %}
        		{% if not user.is_superuser %}
        			<option value="{{user.id}}">{{user.first_name}}</option>
        		{% endif %}
        	{% endfor %}
        </select>
        <div class="red_text">{{message}}</div>
    	<div class="add_department_button">
            <input type='submit' value='Submit'/>
        </div>
        
    </form>
</div>
{% endblock %}