{% extends 'base.html' %}
{% block content %}
	<body>
		<form method="post" action="{% url 'add_user' %}">{% csrf_token %}
			<ul>
                    <div class="department_fields">
                        <label for="username">Username:</label>
                        <input id="username" name="username"   />
                    </div>
                    {% if message %}
                        <div>{{message}}</div>
                    {% endif %}
                    
                    <div class="department_fields">
                        <label for="password">Password :</label>
                        <input id="password" name="password" required="required" type="password"/>
                    </div>
                    <div class="department_fields">
                        <label for="firstname">First Name:</label>
                        <input type="text" name="firstname" id="firstname" />
                    </div>
                    <div class="department_fields">
                        <label for="lastname">Last Name:</label>
                        <input type="text" name="lastname" id="lastname" />
                    </div>
			<input type='submit' value='Submit'/>
		</form>
	</body>
{% endblock content %}	