{% extends 'base.html' %}
{% block content %}
<div class="alert alert-info" align="Center"><h4>Owners</h4></div>
<div class="department">
	{% if latest_department_list %}
		<table  class="table table-striped">
			<tr >
				<th>Owner</th>
				<th>Department Head</th>
				<th></th>
				<th></th>
			</tr>
			{% for department in latest_department_list %}
				<tr>
					<td>{{department.name}}</td>
					{% if department.head == None %}
						<td><a href="{% url 'editdepartment' department.id %}">Add a head</a></td>
					{% else %}
						<td>{{department.head.first_name}}</td>
					{% endif %}
					<td><a href="{% url 'editdepartment' department.id %}">Edit</a></td>
					<td><a href="{% url 'deletedepartment' department.id %}">Delete</a></td>
				</tr>
			{% endfor %}
		</table>
		
	{% else %}
			    <p>No Departments are available.</p>
	{% endif %}
	<a href="{% url 'add_department' %}">
        <input type='submit' value='Add a new Department'/>
    </a>

</div>
{% endblock content %}