{% extends 'base.html' %}
{% block content %}
<div class="alert alert-info" align="Center"><h4>Department Heads</h4></div>
{% if latest_departmenthead_list %}
	<table>
		<tr style="background-color:#000000;color:white;">
			<th>Department Head</th>
			<th></th>
			<th></th>
		</tr>
		{% for departmentheads in latest_departmenthead_list %}
			<tr>
				<td>{{departmentheads.user.first_name}}</td>
				<td><a href="{% url 'editdepartmenthead' departmentheads.id %}">Edit</a></td>
				<td><a href="{% url 'deletedepartmenthead' departmentheads.id %}">Delete</a></td>
			</tr>
		{% endfor %}
	</table>
	<a href="{% url 'add_departmenthead' %}">
        <input type='submit' value='Add a new Department head'/>
    </form>
{% else %}
    <p>No Department Heads are available.</p>
{% endif %}
{% endblock content %}