{% extends 'base.html' %}
{% block content %}
<div class="alert alert-info" align="Center"><h4>Departments</h4></div>
{% if latest_department_list %}
	<table>
		<tr style="background-color:#000000;color:white;">
			<th>Department</th>
			<th></th>
			<th></th>
		</tr>
		{% for department in latest_department_list %}
			<tr>
				<td>{{department.name}}</td>
				<td><a href="{% url 'editdepartment' department.id %}">Edit</a></td>
				<td><a href="{% url 'deletedepartment' department.id %}">Delete</a></td>
			</tr>
		{% endfor %}
	</table>
	<a href="{% url 'add_departments' %}">
        <input type='submit' value='Add a new Department'/>
    </a>
{% else %}
    <p>No Departments are available.</p>
{% endif %}
{% endblock content %}