
<div class="header_nav">
	<div class="logo_img">
		<img src="/static/images/logo.jpg"  id="logo_image">
	<div class="logo">Meeting Action Plan</div>
	{% if user.is_authenticated %}
		

		<div class="menu">

			<li>{{user.username}}<img src="/static/images/user.png" width="24px" ></li>
			{% if user.is_superuser %}		
				<li><a href="{% url 'departments' %}">Owners </a></li>
				<li><a href="{% url 'users' %}">Users </a></li>		
			{% endif %}
			<li><a href="{% url 'actionplans' %}">Action Plan </a></li>
			<li><a href="{% url 'logout' %}">Logout </a></li>
		</div>
	{% endif %}
	</div>
</div>
